  
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ffffff;
    
}


.menu{
   margin-right: 55px;
   
  
}

.logo{
    max-width: 100px;
    
}

.odkaz{
    color: #666;
}

.odkaz2{
    color: #666;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}






